@model ML.Vacante

@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<h2><i class="bi bi-calendar"></i> Citas </h2>
<hr>

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Selecciona una vacante</h5>
            <p class="card-text">Elige una vacante para visualizar los candidatos y su cita registrados.</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Vacante" class="form-label">Vacante</label>
                        <select class="form-select" aria-label="Vacante" id="ddlVacante">
                        </select>
                    </div>
                </div>
                <div class="col-md-8 d-flex justify-content-start align-items-end">
                    <button type="button" onclick="BtnBuscar()" class="btn btn-success w-auto mt-2"><i class="bi bi-search"></i> Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tabla" class="card mt-4 shadow-sm">
    <div class="card-body">
        <h5 class="card-title">Registros</h5>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover align-middle">
                <thead class="table-dark text-center">
                    <tr>
                        <th>Cita</th>
                        <th>Eliminar</th>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Vacante</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="alert alert-warning text-center mt-4 w-75 mx-auto" id="divSinRegistros">
    <i class="bi bi-person-fill-exclamation"></i> No existen registros de candidatos para la vacante seleccionada.
</div>

<div class="alert alert-info text-center mt-4 w-75 mx-auto" id="divSeleccionaVacante">
    <i class="bi bi-patch-exclamation-fill"></i> Por favor selecciona una vacante para continuar.
</div>


<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="~/Scripts/jquery-3.7.0.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

<script>
    var DDLVacanteURL = "@Url.Action("DDLVacante", "Cita")";
    var GetAllURL = "@Url.Action("GetAllCita", "Cita")?idVacante=";
</script>

<script src="~/Scripts/Citas/CRUDCitas.js"></script>