<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">

<div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="shadow-lg p-4 rounded-4 bg-light text-center" style="max-width: 400px; width: 100%;">
        @if (ViewBag.MensajeError != null)
        {
            <i class="bi bi-x-circle-fill text-danger mb-3" style="font-size:3rem;"></i>
            <h4 class="text-danger fw-bold">¡Ha ocurrido un error!</h4>
            <p class="text-muted mb-4">@ViewBag.MensajeError</p>
            <br />
            <br />
            <a href="@Url.Action("GetAll", "Empresa")" class="btn btn-danger px-4 rounded-pill shadow-sm">
                <i class="bi bi-x-lg"></i> Salir
            </a>
        }

        @if (ViewBag.Mensaje != null)
        {
            <i class="bi bi-check-circle-fill text-success mb-3" style="font-size:3rem;"></i>
            <h4 class="text-success fw-bold">¡Todo correcto!</h4>
            <p class="mb-0 text-muted"> @ViewBag.Mensaje </p>
            <br />
            <br />
            <a href="@Url.Action("GetAll", "Empresa")" class="btn btn-success px-4 rounded-pill shadow-sm">
                <i class="bi bi-x-lg"></i> Salir
            </a>
        }
    </div>
</div>
